@font-face {
    font-family: "ethnocentric";
    src: url("../res/ethnocentric.ttf") format("truetype");
}

::selection {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
}

body {
    background-color: #091833;
    color: #bd00ff;
    margin: 50px
}

h1 {
    font-family: "ethnocentric", sans-serif;
    font-size: 2.5rem;
}

a {
    color: white;
    font-size: 30px;
}

.title {
    text-align: center;
}

.mic-btn {
    position: relative;
    display: inline-block;
    left: 50vh;
    background-color: #00ff9f;
    font-family: "ethnocentric", sans-serif;
    font-size: 2.3em;
    align-items: center;
    width: 65vh;
    height: 65vh;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.mic-btn:active {
    background-color: #DAD1C6;
}

.audio-playback {
    display: block;
    margin: 0 auto;
}
